<a href="https://colab.research.google.com/github/Nazneen-akram/modern_python_3.12/blob/main/class3(operators).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operators

In [4]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp') # reads HTML tables from a given URL or string and returns a list of DataFrame objects
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [5]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [ ]:
a : int = 11
b : int = 3

print(a % 3)

2

In [ ]:
print(2**2)
print(2**3)

4
8

In [ ]:
print(12 / 3)

4.0

In [ ]:
print(14.8 / 3)

4.933333333333334

In [ ]:
print( 14.8 // 3)

4.0

In [ ]:
print( 14 // 3)

4

# Python Assignment Operators

In [ ]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [6]:
#:= walrus operator allows the programmer to assign a value to a variable and return that value in the same expression

In [7]:
a : int = 7
print(b := 7)

7

In [ ]:
# = assign
a : int = 7
b : int = 2

In [ ]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [ ]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [ ]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [ ]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [8]:
a : int = 7
b : int = 10

print( a == b ) # checks if 'a' and 'b' are equal and then returns a boolean value of true and false
# a == b
# 7 == 10
# False

False

In [ ]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [9]:
a : int = 7
b : str = '7' # variable 'b' is a string

print(a == b) # condition checks the value as well as the datatype, while the numeric value is equal, the datatypes are not
# a == b
# 7 == 7
# True

False

In [ ]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [11]:
#>
a : int = 7
b : int = 8

print(a > b) #is variable 'a' greater than variable 'b'?
# a > b
# 7 > 8
# False

False

In [12]:
# >
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [13]:
# >
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [14]:
# <
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [15]:
#>=
a : int = 2
b : int = 7

print(a >= b)

False

In [16]:
# >=
a : int = 7
b : int = 7

print(a >= b)

True

In [ ]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [17]:
# =>
a : int = 7
b : int = 7

print(a => b)

SyntaxError: ignored

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [ ]:
ord('A')

65

In [ ]:
chr(65)

'A'

In [20]:
a : str = 'A' # value A = 65
b : str = 'B' # value B = 66

print(b >= a) # ordinal value of 66 is greater than 65

True

In [ ]:
a : str = 'A'
b : str = 'a'

print(b >= a)

True

# Python Logical Operators

In [ ]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [21]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [22]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True

In [ ]:
not True

False

In [24]:
name : str = "Nazneen"
print(not name=="Nazneen")
# name == "Nazneen"
# "Qasim" == "Nazneen"
# True

False

In [25]:
name : str = "Nazneen"
print(name!="Nazneen")
# name == "Nazneen"
# "Qasim" == "Nazneen"

False

# Python Identity Operators

In [26]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [27]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

138664377209072
138664377209072

In [28]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

138664377209072
138664167572528

False

In [29]:
x is z

True

In [ ]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

4314307568
4314307568

False

# Python Membership Operators

In [ ]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [39]:
names: list[str] = [chr(i) for i in range(65,91)]
print(names)
print(len(names))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
26

In [40]:
for i in range(len(names)):
    print(i, names[i],ord(names[i]))
    if names[i] == "N":
        print("True")
        break

0 A 65
1 B 66
2 C 67
3 D 68
4 E 69
5 F 70
6 G 71
7 H 72
8 I 73
9 J 74
10 K 75
11 L 76
12 M 77
13 N 78
True

In [44]:
names: list[str] = [chr(i) for i in range(65,91)]

"N" in names # same as names[i]=="N"

True

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [45]:
names[13]=="N"

True

In [46]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [47]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

Enter your nameNazneen

False

In [48]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

Enter your nameNazneen

True

In [ ]:
uinput not in names

False

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

## PEMDAS

In [ ]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

- **P**arentheses/**B**rackets
- **E**xponents (ie Powers and Square Roots, etc.)/**O**rders (ie Powers and Square Roots, etc.)
- **MD** Multiplication and Division (left-to-right)
- **AS** Addition and Subtraction (left-to-right)

Given the expression:

\[ 3 + 2 - 2 \times 4 \div 2 + 2 \]

Let's solve it step by step:

1. **Multiplication and Division**:
\[ 2 \times 4 = 8 \]
\[ 8 \div 2 = 4 \]

Replacing these values in the expression, we get:

\[ 3 + 2 - 4 + 2 \]

2. **Addition and Subtraction** (from left to right):
\[ 3 + 2 = 5 \]
\[ 5 - 4 = 1 \]
\[ 1 + 2 = 3 \]

So, the final answer is:

\[ 3 \]

In [ ]:
print((6 + 3) - (6 + 3))

0

In [ ]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [49]:


# unzip
#0  1    2     0        1   2
a , b  , c  = 'nazneen', 7, 3.0

print(a)
print(b)
print(c)

nazneen
7
3.0

In [50]:
'nazneen', 7, 3.0

('nazneen', 7, 3.0)

In [51]:
a, b, c = ('nazneen', 7, 3.0)
print(a)
print(b)
print(c)

nazneen
7
3.0

In [52]:
data = ('nazneen', 7, 3.0)
print(data[0], data[1], data[2])

nazneen 7 3.0

In [53]:
data = ('nazneen', 7, 3.0)
print(*data)

nazneen 7 3.0

In [ ]:
2 * 2
"a" * 3

'aaa'

In [ ]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [ ]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!