<a href="https://colab.research.google.com/github/Nazneen-akram/modern_python_3.12/blob/main/class4(Lists).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
table = pd.read_html("https://www.w3schools.com/python/python_lists_methods.asp")
table[0]

       Method                                        Description
0    append()             Adds an element at the end of the list
1     clear()             Removes all the elements from the list
2      copy()                         Returns a copy of the list
3     count()  Returns the number of elements with the specif...
4    extend()  Add the elements of a list (or any iterable), ...
5     index()  Returns the index of the first element with th...
6    insert()          Adds an element at the specified position
7       pop()      Removes the element at the specified position
8    remove()          Removes the item with the specified value
9   reverse()                     Reverses the order of the list
10     sort()                                     Sorts the list

# List
* dynamic length
* hetrogenous data types (Multiple type)
* index
    * postive 0 to n-1
    * negative -1 to length
* slicing
    * variable `names[start:end:step]`
    * start : int = include
    * end : int = n-1
    * step : int = sequance

In [ ]:
name1 : str = "Apple"
name2 : str = "Banana"
name3 : str = "Strawberry"

In [ ]:
# old way
# ->        0          1       2
names = ["Apple","Banana","Strawberry"] # length-1
# <-        -3       -2        -1

print(names[0]) # Apple
print(names[-3]) # Apple

print(names[-2]) # Banana

Apple
Apple
Banana

In [ ]:
from typing import Any

# ->                    0        1         2
names : list[Any] = ["Apple","Banana", "Strawberry", 20, True]
# <-                    -3     -2          -1

print(names[-2])

20

In [ ]:
# ->                    0        1         2
names : list[Any] = ["Apple","Banana","Strawberry"]
# <-                    -3     -2          -1

print(type(names))
print(type(names[-2]))

print(f'My Favourite Fruit is {names[-2].upper()}')

<class 'list'>
<class 'str'>
My Favourite Fruit is BANANA

In [ ]:

# ->                    0        1         2
names : list[str] = ["Apple","Banana", "Strawberry", 20, True]
# <-                    -3     -2          -1

print(names[-2])

20

In [ ]:
'abcdef'

'abcdef'

In [ ]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYX")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

In [ ]:
print(type(characters))

<class 'list'>

In [ ]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']
#                         -26   -25  -24                                                                                                                         -1

# defualt slicing go from left to right
print(characters[0:2]) # 0= include : index 2-1 = 1
print(characters[:2]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:1]) # 0= include : index 2-1 = 1
print(characters[0:2:]) # 0= include : index 2-1 = 1

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

In [ ]:
print(type(characters))

<class 'list'>

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

print(characters[1:-3]) # 'B', 'C', 'D', 'E'

['B', 'C', 'D', 'E']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:1])

[]

In [ ]:
print(characters[2:-1])

['C', 'D', 'E', 'F', 'G']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1])

['G', 'F', 'E']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[::-1]) # <-

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

# List methods

In [ ]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a: list[str] = [1,2,3]
print(a)

[1, 2, 3]

In [ ]:
a: list[str] = [1,2,3]
del a # remove object from memory
print(a)

NameError: name 'a' is not defined

In [ ]:
a: list[str] = [1,2,3]
a.clear()# remove all element but object is ramin
print(a)

[]

# Help
* help(object)
* object?
* object??
* ?object
* ??object

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
??print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [9]:
from typing import Any

# ->                       0        1         2
weekdays: list[Any] = ["Monday", "Tuesday", 3, "Thursday", "Friday"]
# <-                       -3      -2          -1

print(weekdays)

weekdays[2] = "Wednesday"  # mutable -> editable

print(weekdays)

['Monday', 'Tuesday', 3, 'Thursday', 'Friday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [10]:
# ->                    0        1         2
weekdays : list[Any] = ["Monday","Tuesday", "Wednesday", 20, True]
# <-                    -3     -2          -1

print(weekdays)

del weekdays[4] # delete 4 index element

print(weekdays)

['Monday', 'Tuesday', 'Wednesday', 20, True]
['Monday', 'Tuesday', 'Wednesday', 20]

In [12]:
a : str = print("Pakistan") #  The print function doesn't return any value; it is a "None-return function."
display(a)

Pakistan

None

In [14]:
a : str = id(weekdays) # return function
display(a)

132810877020672

In [ ]:
# ->                    0        1         2
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
# <-                    -3     -2          -1

del names[3]
names

['Qasim', 'Sir Zia', 'Sir Inam', True]

### pop method

In [ ]:
# ->                    0        1         2
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
# <-
print(names)
a : str = names.pop() # pop return method

print(a)

['Qasim', 'Sir Zia', 'Sir Inam', 20, True]
True

In [ ]:
# ->                    0        1         2
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
# <-
print(names)
a : str = names.pop(0) # pop return method

print(a)
print(names)

['Qasim', 'Sir Zia', 'Sir Inam', 20, True]
Qasim
['Sir Zia', 'Sir Inam', 20, True]

## append method add element in last

In [ ]:
names : list[str] = ['a','b']

names.append("Sir Zia")# add element in last
names.append("Sir Inam") # add element in last
names.append("Qasim")# add element in last

print(names)

['a', 'b', 'Sir Zia', 'Sir Inam', 'Qasim']

In [ ]:
names : list[str] = ['a','b','c','d']

print(names)

names.insert(1, "Qasim") # insert on perticular postion

print(names)

['a', 'b', 'c', 'd']
['a', 'Qasim', 'b', 'c', 'd']

In [ ]:
print(print("Pakistan zinda bad"))

Pakistan zinda bad
None

In [ ]:
a : list[str] = ['a','b','c']
b = a

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a : list[str] = ['a','b','c']
b = a # shallow copy
print(a)
print(b)

b[0] = 'pakistan' # change only b variable but both variable updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['pakistan', 'b', 'c']
['pakistan', 'b', 'c']

In [ ]:
a : list[str] = ['a','b','c']
b = a.copy() # Deep copy
print("a",a)
print("b",b)

b[0] = 'pakistan' # change only b variable but both variable updated

print("a",a)
print("b",b)

a ['a', 'b', 'c']
b ['a', 'b', 'c']
a ['a', 'b', 'c']
b ['pakistan', 'b', 'c']

In [ ]:
# count
names : list[str] = ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim"] # GenAI founder members

new_faculty_members : list[str] = ['Sir Inam',"Dr Noman"]

names.append(new_faculty_members)

names

['Sir Zia', 'Muhammad Qasim', ['Sir Inam', 'Dr Noman']]

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim"] # GenAI founder members

new_faculty_members : list[str] = ['Sir Inam',"Dr Noman"]

names.extend(new_faculty_members)

names

['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim",'Sir Inam',"Dr Noman"] # GenAI founder members


del names[1:3]

names

['Sir Zia', 'Dr Noman']

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

names.remove("Muhammad Qasim") # remove with text value

names

['Sir Zia', 'Sir Inam', 'Dr Noman']

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

names.index("Muhammad Qasim") # 1

1

In [2]:
weekdays :list[str] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',"Friday"]

weekdays.index("Friday") # 4

4

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman',"Muhammad Qasim"]

names.index("Muhammad Qasim",2) # 1

4

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.reverse() #in-memory = change real data
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'B', 'C', 'A']

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.sort() #in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.sort() #in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']

AttributeError: 'NoneType' object has no attribute 'reverse'

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.sort(reverse=True) #in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
names :list[str] = list("ACBDEF")
print(len(names))
names[25]

6

IndexError: list index out of range

```
append()
```

In [15]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

```
clear()
```

In [17]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # Output: [] # clear empties the list elements but does not delete the list

[]

```
copy()
```

In [18]:
original_list = [1,2,3]
copied_list = original_list.copy()
print(copied_list) #Output: [1,2,3]

[1, 2, 3]

In [19]:
print(id(original_list))
print(id(copied_list))

132811301875776
132811303428672

In [22]:
#count()

mylist = [1,2,3,4 ,5 ,6 ,7 ,5,9 ,10 ]
count_of_elements=mylist.count(5)
print(count_of_elements) #Output: 2

2

In [23]:
#extend()

list_one=[0,'a','b']
list_two=['c', 'd', 'e']
list_one.extend(list_two)
print(list_one) #Output: [0,'a','b','c', 'd', 'e']

[0, 'a', 'b', 'c', 'd', 'e']

In [24]:
#index()

fruits=['apple','banana','cherry']
index_value=fruits.index('banana')
print(index_value) #Output: 1

1

In [25]:
# insert()

fruits=['apple','banana','cherry']
fruits.insert(0,'orange')
print(fruits) #Output:['orange', 'apple', 'banana', 'cherry']

['orange', 'apple', 'banana', 'cherry']

In [26]:
#pop()

numbers=[10 ,20 ,30 ,40 ]
popped_element=numbers.pop(0)
print(popped_element,numbers)#output :10,[20 ,30 ,40]

10 [20, 30, 40]

In [27]:
#remove()

colors=['red' ,'blue' ,'green' ,'yellow' ]
colors.remove('blue')
print(colors)#output :['red' ,'green' ,'yellow']

['red', 'green', 'yellow']

In [28]:
#reverse()

alphabets=['a' ,'b' ,'c' ,'d' ,'e' ]
alphabets.reverse()
print(alphabets)#output :['e' ,'d' ,'c' ,'b' ,'a']

['e', 'd', 'c', 'b', 'a']

In [29]:
#sort()

numbers=[10 ,20 ,30 ,40 ]
numbers.sort(reverse=True)
print(numbers)#output :[40 ,30 ,20 ,10]

[40, 30, 20, 10]