<a href="https://colab.research.google.com/github/Nazneen-akram/modern_python_3.12/blob/main/For_Loop_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = ['Nazneen',33,65]
print(x)

['Nazneen', 33, 65]

In [2]:
for i in x:
  print(i)

Nazneen
33
65

In [3]:
y = 'NAZNEEN'
for i in y:
  print(i)

N
A
Z
N
E
E
N

In [4]:
for i in ('Akram',55,70):
  print(i)

Akram
55
70

In [5]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(11,20,2): #print odd numbers between 11 and 20
  print(i)

11
13
15
17
19

In [9]:
for i in range(12,21,2):  #print even numbers between 11 and 20
  print(i)

12
14
16
18
20

In [11]:
for i in range(1,21): #print all numbers that are not divisible by 5
  if (i%5 != 0):
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19